<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN">
<plist version="1.0">
<dict>
<key>items</key>
<array>
	<dict>
		<key>cell</key><string>PSSwitchCell</string>
		<key>label</key><string>Enable</string>
		<key>key</key><string>Enabled</string>
		<key>default</key><true/>
	</dict>
	<dict>
		<key>cell</key><string>PSSwitchCell</string>
		<key>label</key><string>Wi-Fi only</string>
		<key>key</key><string>WifiOnly</string>
		<key>default</key><true/>
	</dict>
</array>
</dict>
</plist>
